.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: medium solid black;
	background-color: whitesmoke;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}