/* .topnav {
    display:block;
	width:100px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
} */

.topnav {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 25px;
	width: 50%;
}

.topnav h2 {
	padding-right: 25px;
	border-bottom: 0px;
}

.nav-items {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
}

#searchBar {
	margin-top: 5px;
	margin-right: 25px;
}

#home {
	margin-right: 20px;
	font-size: large;
    padding: 6px 12px;
    border-radius: 10px;
}

#eventInputButton {
	margin-right: 20px;
	font-size: large;
    padding: 6px 12px;
    border-radius: 10px;
}

#logout {
	font-size: large;
    padding: 6px 12px;
    border-radius: 10px;
}


.nav-items button:hover{
    background-color: grey;
    color: #ffc;
    transition-duration: .5s;
    border-radius: 5px;
}